spring:

  application:
    name: InfraApiProject
  datasource:
    url: ${DATABASE_URL}
    username: dbuser
    password: askdjdj!3wsed$#
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URI}
          jwk-set-uri: ${JWK_URI}
jwt:
  auth:
    converter:
      resource-id: infraapi
      principle-attribute: preferred_username
  main:
    allow-circular-references: true
logging:
  level:
    org:
      springframework:
        web: INFO